{% extends "base.html" %}

{% block content %}
<!-- <div class="bg-image">
</div>
<div>
    <h1 id="headfont">Game Review's Rating Recommender!</h1>
</div>
<div>
    <a href="./question.html">
        <button type="submit" id="headfont2">Get your Rating Reviewed!</button>
    </a>
</div> -->
<div class="bg-image">
</div>
<div class="jumbotron">
    <div class="card">
        <h1 class="display-4">Game Review's Rating Recommender!!</h1>
        <p class="lead">To get you Review Rated by model click on the button below.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="./question.html" role="button">Click me!</a>
        </p>
    </div>

</div>

{% endblock %}